<h1>Add your new parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="parcel_length">Input your parcel length:</label>
    <input id="length" name="parcel_length" class="form-control" type="number" placeholder="Enter length">

    <label for="parcel_width">Input your parcel width:</label>
    <input id="width" name="parcel_width" class="form-control" type="number" placeholder="Enter width">

    <label for="parcel_height">Input your parcel height:</label>
    <input id="height" name="parcel_height" class="form-control" type="number" placeholder="Enter height">

    <label for="parcel_weight">Input your parcel weight in pounds:</label>
    <input id="weight" name="parcel_weight" class="form-control" type="number" placeholder="Enter weight in pounds">
  </div>
  <button type="submit" class="btn">Submmit</button>
</form>
  